<div class="px-2 max-w-2xl mx-auto mt-10">
  <form [formGroup]="additionalThoughtsForm" (submit)="onSubmit()">
    <div>
      <label class="py-2 text-lg leading-4 font-semibold" for="workexperience">{{ workExperience }}</label>
      <br /><br />
      <textarea
        formControlName="WorkExpDesc"
        id="workexperience"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Type here ..."
      ></textarea>
    </div>
    <br /><br />
    <div>
      <label class="py-2 text-lg leading-4 font-semibold" for="collegeexperience">{{ collegeExperience }}</label>
      <br /><br />
      <textarea
        formControlName="CollegeExpDesc"
        id="collegeexperience"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Type here ..."
      ></textarea>
    </div>
    <br /><br />
    <div>
      <label class="py-2 text-lg leading-4 font-semibold" for="offlineinterview">
        {{ inPersonInterview }}
      </label>
      <div class="mt-2">
        <label for="offlineinterview-yes"
          ><input
            formControlName="InPersonInterview"
            (click)="offlineInterviewYes()"
            type="radio"
            id="offlineinterview-yes"
            value="Yes"
          />
          Yes </label
        ><br />
        <label for="offlineinterview-no">
          <input
            formControlName="InPersonInterview"
            (click)="offlineInterviewNo()"
            type="radio"
            id="offlineinterview-no"
            value="No"
          />
          No</label
        >
      </div>
    </div>
    <div class="mt-6" [hidden]="offlineInterview">
      <h3 class="font-semibold pb-4">{{ participation }}</h3>
      <div class="mb-4">
        <label for="Fullname" class="block mb-2 text-sm font-normal text-gray-900">Full Name</label>
        <input
          formControlName="FullName"
          type="text"
          id="Fullname"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Full Name"
        />
      </div>
      <div class="mb-4">
        <label for="Email" class="block mb-2 text-sm font-normal text-gray-900">Email</label>
        <input
          formControlName="Email"
          type="email"
          id="Email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="example@email.com"
          inputmode="email"
        />
      </div>
      <div>
        <label for="Phone" class="block mb-2 text-sm font-normal text-gray-900">Phone</label>
        <input
          formControlName="Phone"
          type="number"
          id="Phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Phone no."
          inputmode="numeric"
          maxlength="10"
        />
      </div>
    </div>
    <div class="flex justify-between mt-6">
      <button
        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        type="submit"
      >
        Submit
      </button>
      @if (hasError) {
      <div>
        <p class="text-red-600 text-sm text-justify italic">Please fill out all the fields</p>
      </div>
      }
    </div>
  </form>
</div>
