<div class="px-2 text-wrap max-w-xl mx-auto mt-10">
  <p class="text-lg">
    The purpose of this survey is to gather information about your experiences
    as an employee at the College and the reasons why you have decided to
    transition out to other employment, or to pursue other life goals. The
    feedback you provide will help to inform future strategies and processes
    that will improve the overall employee experience at the College. Your
    feedback and any information transmitted with it is strictly confidential
    and will be gathered by the (Office name). Feedback will be provided to the
    Office of Diversity, Equity, and Inclusion, and (Person Name), (), Human
    Resources, for the purposes of improvement to the employee experience at
    University.
  </p>
  <br />
  <p class="text-lg">
    This exit interview consists of 3 steps. Once you complete a step
    and click "Next," you will not be able to go back and edit your answers for
    that step. Please take your time to carefully review your answers before
    proceeding. We appreciate your honest feedback, and we want to ensure your
    voice is heard.
  </p>
  <br />
  <p class="text-lg">
    If you have any questions, or if you would also like to participate in an
    in-person interview as a follow-up to this questionnaire, please contact
    (person name), (Edu Qualification), (position), (Department),
    (email)clark.edu. Thank you!
  </p>

  <br />
  <p class="text-lg"></p>
  <br />
  <a routerLink="/step1">
    <button
      type="button"
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    >
      Start Survey
    </button>
  </a>
</div>
